__pycache__
/.vscode/.ropeproject/config.py
/.vscode/.ropeproject/objectdb
/build/
/dist/
/nessaid_cli.egg-info/

/.vscode/launch.json
/nessaid_cli.egg-info/PKG-INFO
/nessaid_cli.egg-info/SOURCES.txt
/nessaid_cli.egg-info/dependency_links.txt
/nessaid_cli.egg-info/top_level.txt
/nessaid_cli/parser.out
/nessaid_cli/parsetab.py
/nessaid_cli/binding_parser/parsetab.py
/nessaid_cli/binding_parser/parser.out
/nessaid_cli/tokenizer/parsetab.py
/nessaid_cli/tokenizer/parser.out
/.vscode/settings.json
/.DS_Store
/.vscode/.DS_Store
